/*
 * SASS Variables
 * Made by JP Casabianca
*/

// Grays
$light-gray: #edf1fc;
$gray: #ccc;
$gray-medium: #88959f;
$gray-dark: #6a7982;

// Yellows
$yellow-orange: #ffc991;
$yellow-light: #f9dd7b;
$yellow: #ffcd5e;

// Reds
$red: #ff5d5c;

// Blues
$blue-ultra-light: #bac5f9;
$blue-light: #7682ff;
$blue: #4d47dc;
$blue-medium: #4d46cd;
$blue-heavy: #3f3a99;
$blue-dark: #1b0b6b;
$blue-black: #121522;

// HEADER
$header-background-color: #fff;
$header-side-margins: 25px;
$header-subnav-side-margins: 50px;

// MAIN CONTENT
$padding-sides: 30px;
